.env
.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
dist/
build/

# PyInstaller
*.manifest
*.log

# Node
node_modules/
Frontend/dist/
Frontend/node_modules/

# OS
.DS_Store